.outerContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.songsContainer{
    height : 720px;
    width : 400px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.p2{
    padding : 32px;
}

.r1 {
    border-radius: 16px;
}

.songsTitle{
    font-size: 40px;
}

.songsSubtitle{
    text-align: center;
    padding: 0 24px;
}

.flexCol{
    display : flex;
    flex-direction: column;
}

.flexColCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexBetween{
    display : flex;
    justify-content: space-between;
}

.iconContainer{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeIcon{
    position: absolute;
    top : 16px;
    left: 16px;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.songDetail{
    bottom: 48px;
    left: 32px;
    color: white;
}

.songDetailTitle{
    font-size: 64px;
    margin : 16px 0;
}

.songDetailSubtitle{
    color: #ccc;
    font-size: 16px;
    margin : 0;
}

.songsImageContainer{
    border-radius: 0.5rem;
    object-fit: cover;
}

.songsDetailContainer{
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    height : 85%;
    margin: auto 0;
}

.songComment{
    color : white;
    font-size: 16px;
    margin:0
}

.songInfoContainer{
    margin : 0 24px 0 4px
}